<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291086687988-acf3ekds2e9sd2kl74pvaosb021ubbmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291086687988-acf3ekds2e9sd2kl74pvaosb021ubbmb</string>
	<key>API_KEY</key>
	<string>AIzaSyAsW1GvZ3AzUboTPStUI8sKOdSHSc92h-s</string>
	<key>GCM_SENDER_ID</key>
	<string>291086687988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shaishalev.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ae8d7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ae8d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291086687988:ios:0539d04aec48fe7b7888a1</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ae8d7.firebaseio.com</string>
</dict>
</plist>